.city{
  background-color: #20222E;
  color: #dee0e7;
  border: #eaeaeb 2px;
  margin: 20px;
  padding: 20px;
}
.note {
color: rgb(211, 182, 182);
font-size: 50px ;
}
.check{
  text-align: center;
  font-size: 110%;
}
body {
    background-color: rgb(153, 252, 219);
    background-image: url('windows-11-dark-mode-abstract-render-2095147-wallhere.com.jpg');
    background-attachment: fixed; 
    background-size: cover;
}
#chaters{
  font-size: 120%;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  tr:hover{background-color: rgb(185, 211, 201);}
  td, th {
    color: aliceblue;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border-radius: 10px;
    border-color: aliceblue;
    border-style: dotted;
  }
h1{
    color: aliceblue;
    text-align: center;
    font-size: 100px;
    border: 1px solid rgb(117, 98, 57);
}
h2{
    text-align: center;
    color: aliceblue;
}
p{
    text-align: center;
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
    color: aliceblue;
}
a:link, a:visited {
color: rgb(255, 255, 255);
background-color: rgb(204, 14, 14);
text-decoration: none;
padding: 10px 15px;
text-align: center;
display: inline-block;
}
a:hover{
    color: red;
    background-color: azure;
    text-decoration: underline;
}
a:active{
    color: yellow;
    background-color: black;
    text-decoration: underline;
}
dl, h4, dd{
    color: aliceblue;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: green;
  }
  image {
    max-width: 100%; height: auto;
    
  }
form{
  font-size: 30px;
  color: aliceblue;
  margin: 10px;
}